<section class="gallery">
  <div class="container-gallery">
    <h2 class="gallery-titel">Breathe in the Space</h2>
    <p class="gallery-description">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            /img/webp/gallery-img/1-gallery.webp    1x,
            /img/webp/gallery-img/1-gallery@2x.webp 2x
          "
          src="/img/webp/gallery-img/1-gallery.webp"
          alt="Group yoga class in a yoga studio"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            /img/webp/gallery-img/2-gallery.webp    1x,
            /img/webp/gallery-img/2-gallery@2x.webp 2x
          "
          src="/img/webp/gallery-img/2-gallery.webp"
          alt="Woman meditating with a group in a yoga studio"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            /img/webp/gallery-img/3-gallery.webp    1x,
            /img/webp/gallery-img/3-gallery@2x.webp 2x
          "
          src="/img/webp/gallery-img/3-gallery.webp"
          alt="Yoga studio with mats and blocks prepared for class"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            /img/webp/gallery-img/4-gallery.webp    1x,
            /img/webp/gallery-img/4-gallery@2x.webp 2x
          "
          src="/img/webp/gallery-img/4-gallery.webp"
          alt="Sunlit yoga studio with mats and blocks"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            /img/webp/gallery-img/5-gallery.webp    1x,
            /img/webp/gallery-img/5-gallery@2x.webp 2x
          "
          src="/img/webp/gallery-img/5-gallery.webp"
          alt="People meditating during a yoga class"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            /img/webp/gallery-img/6-gallery.webp    1x,
            /img/webp/gallery-img/6-gallery@2x.webp 2x
          "
          src="/img/webp/gallery-img/6-gallery.webp"
          alt="Woman leading a group meditation session in a studio"
        />
      </li>
    </ul>
  </div>
</section>
