<section class="team-section">
<div class="team-wrapper"> 
    <div class="team-box">
    <h2 class="team-title">
      <span class="meet-text">Meet</span>
      Our Team</h2>
    <p class="team-text">Dedicated professionals passionate about yoga and wellness.</p>
    </div>
    <ul class="team-list"> 
    <li class="team-list-item">
          <picture>
              <source 
              media="(min-width: 1336px)"
              srcset="../img/webp/team-img/liam-johnson.webp, ../img/webp/team-img/liam-johnson@2x.webp 2x" />
              <source 
              media="(min-width: 768px)"
              srcset="../img/webp/team-img/liam-johnson.webp, ../img/webp/team-img/liam-johnson@2x.webp 2x" />
              <source 
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="../img/webp/team-img/liam-johnson.m.webp, ../img/webp/team-img/liam-johnson.m.@2x.webp 2x" />
        <img class="team-img" src="../img/webp/team-img/liam-johnson@2x.webp" 
        alt="liam-johnson"
         width="421"
         height="395" />
           </picture>
        <ul class="team-member-list">
          <li class="team-member-item">
        <h3 class="team-member-name">Liam Johnson</h3>
        <p class="team-member-role">Yoga Instructor</p>
          </li>
          <li class="team-member-item">
        <p class="team-member-role">Liam specializes in mindfulness and stress reduction techniques through guided meditation.</p>
          </li>
          <li>
            <ul class="team-social-list">
              <li class="team-member-social">
        <a href="#" target="_blank"><svg class="icon-linkedin" width="24" height="24" fill="#0D0B0A">
           <use href="../img/sprite.svg#icon-linkedin"></use>
        </svg></a>
        </li>
          <li class="team-member-social">
        <a href="#" target="_blank"><svg class="icon-instagram" width="24" height="24" fill="#0D0B0A">
           <use href="../img/sprite.svg#icon-instagram"></use>
        </svg></a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
      <li class="team-list-item">
        <picture> 
              <source 
              media="(min-width: 1336px)"
              srcset="../img/webp/team-img/emma-stone.webp, ../img/webp/team-img/emma-stone@2x.webp 2x" />
              <source 
              media="(min-width: 768px)"
              srcset="../img/webp/team-img/emma-stone.webp, ../img/webp/team-img/emma-stone@2x.webp 2x" />
              <source 
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="../img/webp/team-img/emma-stone.m.webp, ../img/webp/team-img/emma-stone.m.@2x.webp 2x" />
        <img class="team-img" src="../img/webp/team-img/emma-stone.m.webp" 
        alt="Emma Stone"
         width="421"
         height="395" />
           </picture>
        <ul class="team-member-list">
        <li class="team-member-item">
        <h3 class="team-member-name">Emma Stone</h3>
        <p class="team-member-role">Meditation Coach</p>
        </li>
        <li>
        <p class="team-member-role">Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
       </li>
       <li>
        <ul class="team-social-list">
        <li class="team-member-social">
        <a href="#" target="_blank"><svg class="icon-linkedin" width="24" height="24" fill="#0D0B0A">
            <use href="../img/sprite.svg#icon-linkedin"></use>
        </svg></a>
        </li>
        </ul>
      </li>
      </ul>
      </li>
      <li class="team-list-item">
         <picture> 
              <source 
              media="(min-width: 1336px)"
              srcset="../img/webp/team-img/sophia-lee.webp, ../img/webp/team-img/sophia-lee@2x.webp 2x" />
              <source 
              media="(min-width: 768px)"
              srcset="../img/webp/team-img/sophia-lee.webp, ../img/webp/team-img/sophia-lee@2x.webp 2x" />
              <source 
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="../img/webp/team-img/sophia-lee.m.webp, ../img/webp/team-img/sophia-lee.m.@2x.webp 2x" />
        <img class="team-img" src="../img/webp/team-img/sophia-lee.m.webp" 
        alt="Sophia Lee"
         width="421"
         height="395" />
           </picture>
         <ul class="team-member-list">
          <li class="team-member-item">
        <h3 class="team-member-name">Sophia Lee</h3>
        <p class="team-member-role">Pilates Trainer</p>
        </li>
        <li class="team-member-item">
        <p class="team-member-role">Sophia combines Pilates with yoga for a holistic fitness approach.</p>
        </li>
        <li>
          <ul class="team-social-list">
            <li class="team-member-social">
        <a href="#" target="_blank"><svg class="icon-instagram" width="24" height="24" fill="#0D0B0A">
            <use href="../img/sprite.svg#icon-instagram"></use>
        </svg></a>
        </li>
        </ul>
        </li>
      </ul>
      </li>
      <li class="team-list-item">
         <picture> 
              <source 
              media="(min-width: 1336px)"
              srcset="../img/webp/team-img/noah-brown.webp, ../img/webp/team-img/noah-brown@2x.webp 2x" />
              <source 
              media="(min-width: 768px)"
              srcset="../img/webp/team-img/noah-brown.webp, ../img/webp/team-img/noah-brown@2x.webp 2x" />
              <source 
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="../img/webp/team-img/noah-brown.m.webp, ../img/webp/team-img/noah-brown.m.@2x.webp 2x" />
        <img class="team-img" src="../img/webp/team-img/noah-brown.m.webp" 
        alt="Noah Brown"
         width="421"
         height="395" />
           </picture>  
         <ul  class="team-member-list">
          <li class="team-member-item">
        <h3 class="team-member-name">Noah Brown</h3>
        <p class="team-member-role">Yoga Therapist</p>
          </li>
          <li class="team-member-item">
        <p class="team-member-role">Noah focuses on therapeutic yoga to aid recovery and enhance well-being.</p>
          </li>
          <li>
            <ul class="team-social-list">
              <li class="team-member-social">
        <a href="#" target="_blank"><svg class="icon-linkedin" width="24" height="24" fill="#0D0B0A">
            <use href="../img/sprite.svg#icon-linkedin"></use>
          </svg></a>
          </li>
          </ul>
          </li>
        </ul>
      </li>
      <li class="team-list-item">
         <picture> 
              <source 
              media="(min-width: 1336px)"
              srcset="../img/webp/team-img/ava-green.webp, ../img/webp/team-img/ava-green@2x.webp 2x" />
              <source 
              media="(min-width: 768px)"
              srcset="../img/webp/team-img/ava-green.webp, ../img/webp/team-img/ava-green@2x.webp 2x" />
              <source 
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="../img/webp/team-img/ava-green.m.webp, ../img/webp/team-img/ava-green.m.@2x.webp 2x" />
        <img class="team-img" src="../img/webp/team-img/ava-green.m.webp" 
        alt="Ava Green"
         width="421"
         height="395" />
           </picture>  
         <ul  class="team-member-list">
          <li class="team-member-item">
        <h3 class="team-member-name">Ava Green</h3>
        <p class="team-member-role">Fitness Trainer</p>
          </li>
          <li class="team-member-item">
        <p class="team-member-role">Ava integrates strength training with yoga to promote overall fitness.</p>
          </li>
          <li>
            <ul class="team-social-list">
              <li class="team-member-social">
       <a href="#" target="_blank"><svg class="icon-facebook" width="24" height="24" fill="#0D0B0A">
            <use href="../img/sprite.svg#icon-facebook"></use>
       </svg></a>
      </li>
      <li class="team-member-social">  
       <a href="#" target="_blank"><svg class="icon-instagram" width="24" height="24" fill="#0D0B0A">
            <use href="../img/sprite.svg#icon-instagram"></use>
       </svg></a>
      </li>
       <li class="team-member-social">
      <a href="#" target="_blank"><svg class="icon-linkedin" width="24" height="24" fill="#0D0B0A">
            <use href="../img/sprite.svg#icon-linkedin"></use>
      </svg></a>
      </li>
      </ul>
          </li>
        </ul>
      </li>
      <li class="team-list-item">
         <picture> 
              <source 
              media="(min-width: 1336px)"
              srcset="../img/webp/team-img/clark-thomas.webp, ../img/webp/team-img/clark-thomas@2x.webp 2x" />
              <source 
              media="(min-width: 768px)"
              srcset="../img/webp/team-img/clark-thomas.webp, ../img/webp/team-img/clark-thomas@2x.webp 2x" />
              <source 
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="../img/webp/team-img/clark-thomas.m.webp, ../img/webp/team-img/clark-thomas.m.@2x.webp 2x" />
        <img class="team-img" src="../img/webp/team-img/clark-thomas.m.webp" 
        alt="Clark Thomas"
         width="421"
         height="395" />
           </picture>  
            <ul  class="team-member-list">
        <li class="team-member-item">
        <h3 class="team-member-name">Clark Thomas</h3>
        <p class="team-member-role">Fitness Trainer</p>
        </li>
        <li class="team-member-item">
        <p class="team-member-role">Clark specializes in mindfulness and stress reduction techniques through guided meditation.</p>
        </li>
        <li>    
          <ul class="team-social-list"> 
        <li class="team-member-social">
        <a href="#" target="_blank"><svg class="icon-facebook" width="24" height="24" fill="#0D0B0A">
            <use href="../img/sprite.svg#icon-facebook"></use>
        </svg></a>
      </li>
      <li class="team-member-social">
        <a href="#" target="_blank"><svg class="icon-instagram" width="24" height="24" fill="#0D0B0A">
            <use href="../img/sprite.svg#icon-instagram"></use>
        </svg></a>
        </li>
        </ul> 
        </li>
        </ul>
      </li>
    </ul>
  </div>
</section>