<section class="yoga section">
  <div class="container">
    <p class="yoga-title-up">Explore</p>
    <h2 class="yoga-title">Discover Our Most Popular Yoga Programs</h2>
    <p class="yoga-title-descr">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="yoga-list">
      <li class="yoga-list-item">
        <img
          class="yoga-image"
          src="/img/webp/yoga-classes-img/beginner-yoga.webp"
          srcset="
            /img/webp/yoga-classes-img/beginner-yoga.webp    1x,
            /img/webp/yoga-classes-img/beginner-yoga@2x.webp 2x
          "
          alt="beginner-yoga"
          width="421"
          height="240"
        />
        <h3 class="yoga-item-title">Beginner Yoga: Foundations</h3>
        <p class="yoga-item-descr">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>
      <li class="yoga-list-item">
        <img
          class="yoga-image"
          src="/img/webp/yoga-classes-img/vinyasa-flow.webp"
          srcset="
            /img/webp/yoga-classes-img/vinyasa-flow.webp    1x,
            /img/webp/yoga-classes-img/vinyasa-flow@2x.webp 2x
          "
          alt="vinyasa-flow"
          width="421"
          height="240"
        />
        <h3 class="yoga-item-title">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="yoga-item-descr">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>
      <li class="yoga-list-item">
        <img
          class="yoga-image"
          src="/img/webp/yoga-classes-img/restorative-yoga.webp"
          srcset="
            /img/webp/yoga-classes-img/restorative-yoga.webp    1x,
            /img/webp/yoga-classes-img/restorative-yoga@2x.webp 2x
          "
          alt="restorative-yoga"
          width="421"
          height="240"
        />
        <h3 class="yoga-item-title">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="yoga-item-descr">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <a href="#pricing" class="yoga-link">Join now</a>
  </div>
</section>
