*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Sarabun", sans-serif;
    line-height: 1.6;
    color: #0d0b0a;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}
button {
    cursor: pointer;
}
.section {
    padding: 64px 0;
}
