.hero-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
}

.hero-img {
    margin: 0 auto 48px auto;
}

.hero-title {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.hero-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

.hero-btn-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    border-radius: 100px;
    padding: 10px 24px;
    width: 100%;
    max-width: 343px;
 }
.hero-btn.join {
    border: 1px solid #c2d9fc;
    background: #c2d9fc;
}
.hero-btn.learn {
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgba(13, 11, 10, 0.05);
}

/* tablet */
@media screen and (min-width: 768px) {
    .hero-section {
        padding-bottom: 24px;   
        }
    .hero-img {
        margin: 0 auto 24px auto;
    }
    .hero-title {
        width: 423px;
        max-width: 100%;
    }
    .hero-description {
        width: 641px;
        max-width: 100%;
        font-size: 18px;
    }
    .hero-content {
        gap: 32px;
        align-items: flex-start;
    }
    .hero-btn-block {
        flex-direction: row;
    }
    .hero-btn {
        width: auto;
    }
}

/* desktop */
@media screen and (min-width: 1336px) {

}