/* region hero Mobile  */
.hero {
    padding-bottom: 48px;
}

.hero-picture {
    display: block;
    width: 100%;
}

.hero-img {
    display: block;
    width: 100%;
    max-width: 375px;
    object-fit: cover;
    aspect-ratio: 375 / 301;
    margin: 0 auto 48px auto;
}

.hero-title {
    font-family: "Cabin", sans-serif;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}

.hero-description {
    font-weight: 400;
}

.hero-content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

}

.hero-btn-block {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.hero-btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 100px;
    text-align: center;
    font-weight: 500;
}

.hero-btn.join {
    background-color: #c2d9fc;
    border: 1px solid #c2d9fc;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hero-btn.learn {
    background-color: rgba(13, 11, 10, 0.05);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hero-btn.join:hover,
.hero-btn.join:focus {
    background-color: #c2d9fc;
    opacity: 0.5;
    outline: none;
}

.hero-btn.learn:hover,
.hero-btn.learn:focus {
    background-color: rgba(13, 11, 10, 0.05);
    opacity: 0.5;
    outline: none;
}

/* region hero Tablet  */
@media screen and (min-width: 768px) {
    .hero {
        padding-bottom: 24px;
    }

    .hero-img {
        max-width: 768px;
        aspect-ratio: 768 / 359;
        margin-bottom: 24px;
    }

    .hero-title {
        margin-bottom: 8px;
        width: 423px;
    }

    .hero-description {
        font-size: 18px;
        width: 641px;
    }

    .hero-btn-block {
        flex-direction: row;
        gap: 16px;
    }
}

/* endregion hero Tablet  */

/* region hero Desktop  */
@media screen and (min-width: 1336px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero-img {
        max-width: 1440px;
        aspect-ratio: 1440 / 684;
        margin-bottom: 80px;
    }

    .hero-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 24px;
    }

    .hero-title {
        width: 50%;
        font-size: 64px;
        margin-bottom: 0;
    }

    .hero-content {
        width: 50%;
        padding-top: 8px;
    }

    .hero-description {
        font-size: 20px;
    }
}

/* endregion hero Desktop  */